/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: "Inter", sans-serif;
  color: #1F1F1F;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 576px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0 80px;
  }
}

.btn {
  position: relative;
  overflow: hidden;
  display: block;
  padding: 14px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  text-transform: uppercase;
  border-radius: 10px;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .btn {
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }
  .btn.aos-animate {
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }
}
.btn span {
  position: relative;
  z-index: 10;
}
@media (min-width: 576px) {
  .btn {
    padding: 13px;
    font-size: 18px;
  }
}
.btn--white {
  background-color: #fff;
  color: #115793;
}
@media (min-width: 1024px) {
  .btn--white:hover {
    color: #fff;
    background-color: #115793;
  }
}
.btn--blue {
  background-color: #115793;
  color: #fff;
}
@media (min-width: 1024px) {
  .btn--blue:hover {
    color: #115793;
    background-color: #fff;
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 50;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #F7F9FC;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 576px) {
  .header__row {
    padding: 18px 0;
  }
}
@media (min-width: 1024px) {
  .header__row {
    padding: 30px 0 20px;
  }
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo {
  width: 100px;
}
@media (min-width: 576px) {
  .header__logo {
    width: 140px;
  }
}
@media (min-width: 1024px) {
  .header__logo {
    width: 180px;
  }
}

.hero {
  position: relative;
  background: url("../img/hero.png") #16C7FF bottom right no-repeat;
  background-size: contain;
  padding: 92px 0 10px;
}
@media (min-width: 576px) {
  .hero {
    padding: 150px 0 17px;
  }
}
@media (min-width: 1024px) {
  .hero {
    padding: 145px 0 30px;
  }
}
@media (min-width: 1440px) {
  .hero {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 145px 0 200px;
  }
}
.hero__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 110%;
  margin: 0 0 10px 0;
  color: #fff;
}
@media (min-width: 576px) {
  .hero__title {
    font-size: 40px;
    line-height: 120%;
    margin: 0 0 20px 0;
  }
}
@media (min-width: 1200px) {
  .hero__title {
    font-size: 50px;
  }
}
.hero__desc {
  color: #FFF;
  font-size: 16px;
  line-height: 150%;
}
@media (min-width: 576px) {
  .hero__desc {
    font-size: 18px;
    max-width: 540px;
  }
}
@media (min-width: 1024px) {
  .hero__desc {
    max-width: 605px;
  }
}
@media (min-width: 1440px) {
  .hero__desc {
    max-width: 710px;
  }
}
.hero__btn {
  margin-top: 30px;
}
@media (min-width: 576px) {
  .hero__btn {
    margin-top: 40px;
    max-width: 297px;
  }
}
@media (min-width: 1440px) {
  .hero__btn {
    margin-top: 50px;
  }
}
@media (min-width: 1024px) {
  .hero__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.hero__right {
  margin-top: 30px;
}
@media (min-width: 1024px) {
  .hero__right {
    width: 45%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 1200px) {
  .hero__right {
    width: 38%;
    position: relative;
  }
}
.hero__right img {
  max-width: 70%;
  display: block;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .hero__right img {
    margin: 0 4% 0 auto;
  }
}
@media (min-width: 1024px) {
  .hero__right img {
    max-width: 100%;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .hero__right img {
    position: absolute;
    max-width: inherit;
    left: -9%;
    bottom: -7%;
    width: 127%;
  }
}
@media (min-width: 1440px) {
  .hero__right img {
    top: 0;
  }
}
.hero__bottom {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  margin-top: 74px;
  -webkit-animation: sliding infinite 2.5s;
  animation: sliding infinite 2.5s;
}
@media (min-width: 1024px) {
  .hero__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 1440px) {
  .hero__bottom {
    position: absolute;
    bottom: 60px;
  }
}
.hero__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 84px;
  width: 84px;
  background: rgba(255, 255, 255, 0.3);
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 50%;
  margin-right: 20px;
}
.hero__icon svg {
  height: 30px;
  max-width: 100%;
  fill: #fff;
}

.contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 0;
}
@media (min-width: 576px) {
  .contact-link {
    width: auto;
    height: auto;
    border-radius: inherit;
    background-color: transparent;
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    color: #fff;
  }
}
@media (min-width: 1024px) {
  .contact-link {
    font-size: 20px;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }
  .contact-link:hover {
    color: #115793;
  }
}
.contact-link__icon {
  height: 20px;
  width: 20px;
  fill: #fff;
}
@media (min-width: 576px) {
  .contact-link__icon {
    display: none;
  }
}
.contact-link + .contact-link {
  margin-left: 10px;
}
@media (min-width: 576px) {
  .contact-link + .contact-link {
    margin-left: 40px;
  }
}

select.section__select {
  display: none;
}

.section {
  padding: 50px 0;
}
@media (min-width: 576px) {
  .section {
    padding: 80px 0;
  }
}
@media (min-width: 1024px) {
  .section {
    padding: 90px 0;
  }
}
@media (min-width: 1440px) {
  .section {
    padding: 100px 0;
  }
}
.section--grey-bg {
  background: #F7F9FC;
}
.section__select {
  float: none;
  width: 174px;
  height: 40px;
  border-radius: 5px;
  background: #E6F9FF;
  font-size: 16px;
  line-height: 40px;
  border: none;
  padding: 0 30px 0 10px;
  margin-bottom: 30px;
}
@media (min-width: 576px) {
  .section__select {
    font-size: 18px;
    margin-bottom: 0;
    padding: 0 30px 0 20px;
    height: 50px;
    width: 178px;
    line-height: 50px;
  }
}
.section__select:after {
  height: 8px;
  width: 8px;
  border-width: 1px;
  border-color: #1F1F1F;
  top: 45%;
  right: 10px;
}
@media (min-width: 576px) {
  .section__select:after {
    right: 20px;
    height: 12px;
    width: 12px;
    top: 40%;
  }
}
.section__select .nice-select-dropdown {
  width: 100%;
}
.section__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
  margin: 0;
}
@media (min-width: 576px) {
  .section__title {
    font-size: 30px;
    max-width: 616px;
  }
}
@media (min-width: 1024px) {
  .section__title {
    font-size: 40px;
    max-width: 832px;
  }
}
.section__title--margin-lit {
  margin-bottom: 10px;
}
@media (min-width: 576px) {
  .section__title--margin-lit {
    margin-bottom: 20px;
  }
}
.section__title--margin--default {
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .section__title--margin--default {
    margin-bottom: 30px;
  }
}
.section__title--margin-big {
  margin-bottom: 30px;
}
@media (min-width: 576px) {
  .section__title--margin-big {
    margin-bottom: 40px;
  }
}
@media (min-width: 1024px) {
  .section__title--margin-big {
    margin-bottom: 50px;
  }
}
.section__title--big {
  font-size: 28px;
}
@media (min-width: 576px) {
  .section__title--big {
    font-size: 40px;
  }
}
.section__desc {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 30px;
}
@media (min-width: 576px) {
  .section__desc {
    font-size: 18px;
    max-width: 620px;
  }
}
@media (min-width: 1024px) {
  .section__desc {
    max-width: 832px;
    margin-bottom: 40px;
  }
}
.section__desc--lit {
  margin-bottom: 12px;
}
.section__underheader {
  position: relative;
  z-index: 500;
}
@media (min-width: 576px) {
  .section__underheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .section__underheader .section__desc {
    margin: 0 20px 0 0;
  }
}

.tizers__row {
  margin: -5px 0;
}
@media (min-width: 576px) {
  .tizers__row {
    margin: -8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.tizers__item-container {
  padding: 5px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 576px) {
  .tizers__item-container {
    padding: 8px;
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .tizers__item-container {
    width: 25%;
  }
}
.tizers-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: rgb(31, 31, 31);
}
@media (min-width: 576px) {
  .tizers-item {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
@media (min-width: 576px) {
  .tizers-item__desc {
    max-width: 280px;
  }
}
.tizers-item--type-1 {
  font-size: 16px;
  line-height: 150%;
  background-color: rgb(230, 249, 255);
  min-height: 110px;
}
@media (min-width: 576px) {
  .tizers-item--type-1 {
    min-height: auto;
    font-size: 18px;
    padding: 25px;
  }
}
@media (min-width: 1024px) {
  .tizers-item--type-1 {
    font-size: 16px;
    padding: 20px;
  }
}
@media (min-width: 576px) {
  .tizers-item--type-1 .tizers-item__desc {
    min-height: 81px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .tizers-item--type-1 .tizers-item__desc {
    min-height: 72px;
  }
}
.tizers-item--type-2 {
  font-size: 14px;
  line-height: 150%;
  padding: 5px 20px;
}
@media (min-width: 576px) {
  .tizers-item--type-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .tizers-item--type-2 {
    padding: 0 30px 0 0;
    font-size: 16px;
  }
}
.tizers-item--type-2 .tizers-item__icon {
  height: 40px;
  width: 40px;
  margin-right: 16px;
}
.tizers-item--type-2 .tizers-item__icon img {
  max-width: 24px;
}
.tizers-item__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 20px;
  background-color: #00AEEF;
}
@media (min-width: 576px) {
  .tizers-item__icon {
    height: 65px;
    width: 65px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1024px) {
  .tizers-item__icon {
    margin-bottom: 15px;
  }
}
.tizers-item__icon img {
  max-width: 34px;
}
@media (min-width: 576px) {
  .tizers-item__icon img {
    max-width: 40px;
  }
}

.cards {
  position: relative;
}
.cards__slider {
  overflow: visible;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 20px;
}
@media (min-width: 576px) {
  .cards__slider {
    margin-right: 0;
  }
}
@media (min-width: 576px) {
  .cards__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -8px;
    width: auto;
    height: auto;
    padding-top: 10px;
  }
}
@media (min-width: 576px) {
  .cards__row .swiper-slide {
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .cards__row .swiper-slide {
    width: 33.3%;
  }
}

.card-item {
  padding: 20px;
  border-radius: 10px;
  background: #FFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 576px) {
  .card-item {
    padding: 30px 20px;
    height: 100%;
  }
}
.card-item__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  margin: 0 0 20px 0;
}
@media (min-width: 576px) {
  .card-item__title {
    font-size: 24px;
  }
}
.card-item__desc {
  padding: 20px;
  border-radius: 5px;
  background: #E6F9FF;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 20px;
}
@media (min-width: 576px) {
  .card-item__desc {
    min-height: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .card-item__desc {
    min-height: 136px;
  }
}
.card-item__list {
  padding: 0;
  list-style: none;
  margin: 0;
}
.card-item__list li {
  position: relative;
  padding-left: 30px;
  font-size: 16px;
  line-height: 150%;
}
@media (min-width: 576px) {
  .card-item__list li {
    font-size: 18px;
  }
}
.card-item__list li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  left: 0;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background-color: #00AEEF;
  border-radius: 50%;
}
@media (min-width: 576px) {
  .card-item__list li:before {
    top: 9px;
    margin-top: 0;
  }
}
.card-item__list li + li {
  margin-top: 10.2px;
}

.offer {
  padding: 0 0 50px;
  color: #fff;
}
.offer__bubble {
  display: none;
}
@media (min-width: 1200px) {
  .offer__bubble {
    display: block;
    position: absolute;
  }
}
.offer__bubble--1 {
  right: 0;
  bottom: 0;
}
.offer__bubble--2 {
  right: 17%;
  top: 0;
}
@media (min-width: 576px) {
  .offer {
    padding-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .offer .section__title, .offer .section__desc {
    max-width: 62%;
  }
}
.offer__content {
  background: #16C7FF;
  padding: 20px;
  border-radius: 10px;
}
@media (min-width: 576px) {
  .offer__content {
    padding: 40px;
  }
}
@media (min-width: 576px) {
  .offer__head {
    padding-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .offer__head {
    position: relative;
    padding-bottom: 0;
  }
}
.offer__tizers {
  padding: 20px 0 24px;
  color: #1F1F1F;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .offer__tizers {
    padding: 40px;
    margin-bottom: 0;
  }
}
.offer__tizers .tizers__row {
  padding-top: 15px;
}
@media (min-width: 1024px) {
  .offer__tizers .tizers__row {
    padding-top: 45px;
    margin: -15px;
  }
}
@media (min-width: 1024px) {
  .offer__tizers .tizers__item-container {
    width: 50%;
    padding: 15px;
  }
}
.offer__tizers .section__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  padding: 0 20px;
}
@media (min-width: 576px) {
  .offer__tizers .section__title {
    font-size: 24px;
  }
}
@media (min-width: 1024px) {
  .offer__tizers .section__title {
    padding: 32px 0 0 0;
    max-width: 100%;
  }
}
@media (min-width: 1024px) {
  .offer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 1024px) {
  .offer__form {
    width: 351px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: 20px;
  }
}
@media (min-width: 1440px) {
  .offer__form {
    width: 538px;
    margin-left: 40px;
  }
}

.form .just-validate-error-label {
  font-size: 12px;
  top: 30%;
  font-size: 16px;
  position: absolute;
  left: 20px;
  color: #ff4d00;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
@media (min-width: 576px) {
  .form .just-validate-error-label {
    font-size: 18px;
  }
}
.form__input {
  height: 60px;
  background-color: #fff;
  border-radius: 10px;
  outline: none;
  border: 1px solid transparent;
  padding: 0 20px;
  display: block;
  width: 100%;
  color: rgba(31, 31, 31, 0.8);
  padding-top: 17px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #fff;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.form__input:not(:focus):not(:-moz-placeholder-shown) ~ .form__input-placeholder {
  font-size: 12px;
  top: 30%;
}
.form__input:not(:focus):not(:-ms-input-placeholder) ~ .form__input-placeholder {
  font-size: 12px;
  top: 30%;
}
.form__input:focus ~ .form__input-placeholder, .form__input:not(:focus):not(:placeholder-shown) ~ .form__input-placeholder {
  font-size: 12px;
  top: 30%;
}
.form__input.just-validate-error-field {
  border-color: #ff4d00;
}
.form__input.just-validate-error-field ~ .form__input-placeholder {
  opacity: 0;
}
@media (min-width: 1024px) {
  .form__input:hover {
    border-color: #115793;
  }
  .form__input:hover::-webkit-input-placeholder {
    opacity: 0;
  }
  .form__input:hover::-moz-placeholder {
    opacity: 0;
  }
  .form__input:hover:-ms-input-placeholder {
    opacity: 0;
  }
  .form__input:hover::-ms-input-placeholder {
    opacity: 0;
  }
  .form__input:hover::placeholder {
    opacity: 0;
  }
}
.form__input:focus {
  border-color: #115793;
}
.form__input-container {
  position: relative;
}
.form__input-container + .form__input-container {
  margin-top: 10px;
}
@media (min-width: 576px) {
  .form__input-container + .form__input-container {
    margin-top: 20px;
  }
}
.form__input-placeholder {
  font-size: 16px;
  position: absolute;
  left: 20px;
  top: 50%;
  color: #1F1F1F;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
@media (min-width: 576px) {
  .form__input-placeholder {
    font-size: 18px;
  }
}
.form__policy {
  margin: 20px 0;
  color: #FFF;
  font-size: 12px;
  line-height: 150%;
}
@media (min-width: 576px) {
  .form__policy {
    font-size: 14px;
    max-width: 500px;
  }
}
@media (min-width: 1024px) {
  .form__policy {
    max-width: 430px;
  }
}
.form__policy a {
  color: #FFF;
  text-decoration: underline;
}
.form__btn {
  width: 100%;
}
@media (min-width: 576px) {
  .form__btn {
    max-width: 220px;
  }
}

.tariffs__slider {
  margin-right: 20px;
  overflow: visible;
}
@media (min-width: 1200px) {
  .tariffs__slider {
    margin-right: 0;
  }
}
.tariffs__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 20px 0 -5px;
}
@media (min-width: 1024px) {
  .tariffs__bottom {
    margin: 35px 0 0 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.tariffs__bottom-title {
  width: 100%;
  margin-bottom: 5px;
  padding-left: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 1024px) {
  .tariffs__bottom-title {
    width: auto;
    margin-bottom: 0;
    padding-left: 0;
    margin-right: 10px;
  }
}
.tariffs__bottom-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 1024px) {
  .tariffs__bottom-option {
    margin-right: 6px;
  }
}
.tariffs__bottom-option-level {
  margin-left: 10px;
  width: 40px;
  height: 16px;
}
@media (min-width: 1200px) {
  .tariffs__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -10px;
  }
}
@media (min-width: 1200px) {
  .tariffs__row .swiper-slide {
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
  }
}

.tariff__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  background: #00AEEF;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  .tariff__type {
    font-size: 24px;
    padding: 17px;
  }
}
.tariff__content {
  padding: 20px 20px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  background: #F7F9FC;
}
@media (min-width: 1024px) {
  .tariff__content {
    padding: 40px 20px 0;
  }
}
.tariff__value {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
}
.tariff__users {
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .tariff__users {
    margin-bottom: 20px;
  }
}
.tariff__price {
  color: #115793;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 30px;
  display: none;
}
.tariff__price--isCurrent {
  display: block;
}
@media (min-width: 1024px) {
  .tariff__price {
    font-size: 30px;
    margin-bottom: 38px;
  }
}
@media (min-width: 1440px) {
  .tariff__price {
    font-size: 40px;
  }
}
.tariff__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.tariff__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid rgba(31, 31, 31, 0.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tariff__item-name {
  font-size: 16px;
  line-height: 150%;
}
.tariff__option {
  color: #115793;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

.level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 17px;
  border: 1px solid rgba(31, 31, 31, 0.3);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2px;
}
.level[data-level="1"] span:nth-child(1) {
  background-color: rgb(0, 174, 239);
}
.level[data-level="2"] span:nth-child(1), .level[data-level="2"] span:nth-child(2) {
  background-color: rgb(0, 174, 239);
}
.level[data-level="3"] span {
  background-color: rgb(0, 174, 239);
}
.level span {
  height: 10px;
  width: 10px;
  background-color: rgba(31, 31, 31, 0.3);
  border-radius: 50%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.level span + span {
  margin-left: 2px;
}

.promo__row {
  position: relative;
  overflow: hidden;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #16C7FF;
}
@media (min-width: 576px) {
  .promo__row {
    padding: 55px 40px;
  }
}
@media (min-width: 1024px) {
  .promo__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.promo__row:before {
  content: "";
  position: absolute;
  right: -10%;
  height: 100%;
  width: 100%;
  bottom: 0;
  background: url("../img/hero.png") bottom right no-repeat;
  background-size: contain;
}
.promo__title, .promo__desc {
  color: #fff;
}
@media (min-width: 1200px) {
  .promo__content {
    max-width: 50%;
  }
}
@media (min-width: 1200px) {
  .promo__title {
    margin-bottom: 20px;
  }
}
.promo__image {
  position: relative;
  margin-bottom: -3.4%;
}
.promo__rocket1 {
  position: absolute;
  right: -1%;
  top: 2%;
  max-width: 25%;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}
@media (min-width: 576px) {
  .promo__rocket1 {
    top: -17%;
  }
}
@media (min-width: 1024px) {
  .promo__rocket1 {
    top: -32%;
    right: 1%;
  }
}
.promo__bubble1 {
  position: absolute;
  height: 44px;
  width: 44px;
  background-color: #fff;
  left: 31.1%;
  top: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
}
@media (min-width: 576px) {
  .promo__bubble1 {
    height: 83px;
    width: 83px;
    left: 36.1%;
    top: 19%;
  }
}
@media (min-width: 1024px) {
  .promo__bubble1 {
    left: 22.1%;
    top: -2%;
  }
}
@media (min-width: 1440px) {
  .promo__bubble1 {
    left: 26.1%;
    top: -6%;
  }
}
.promo__bubble1 img {
  max-width: 60%;
}
.promo__bubble2 {
  position: absolute;
  height: 93px;
  width: 93px;
  background-color: #fff;
  right: 1.1%;
  bottom: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
}
@media (min-width: 576px) {
  .promo__bubble2 {
    width: 176px;
    height: 176px;
    right: 0.6%;
    bottom: 35px;
  }
}
@media (min-width: 1024px) {
  .promo__bubble2 {
    right: 6.6%;
    bottom: 16%;
  }
}
@media (min-width: 1440px) {
  .promo__bubble2 {
    right: 12.6%;
    bottom: 20%;
  }
}
.promo__bubble2 img {
  max-width: 64%;
}
.promo__image {
  padding-top: 20%;
}
@media (min-width: 576px) {
  .promo__image {
    padding-top: 7%;
    margin-bottom: -8.4%;
  }
}
@media (min-width: 1024px) {
  .promo__image {
    padding-top: 0;
    margin-bottom: 0;
    width: 100%;
    max-width: 50%;
    margin-bottom: -6%;
  }
}
.promo__btn {
  width: 100%;
}
@media (min-width: 576px) {
  .promo__btn {
    max-width: 220px;
  }
}
.promo__rocket2 {
  max-width: 50%;
  -webkit-transform: rotate(2.6deg);
  -ms-transform: rotate(2.6deg);
  transform: rotate(2.6deg);
  margin: 0 auto;
  display: block;
}
@media (min-width: 1024px) {
  .promo__rocket2 {
    margin: -8% 0 0 10%;
    max-width: 58%;
  }
}
@media (min-width: 1440px) {
  .promo__rocket2 {
    margin: -8% 0 0 16%;
  }
}
@media (min-width: 576px) {
  .promo__desc {
    margin-bottom: 39px;
  }
}

.footer {
  margin-top: 50px;
  padding: 10px 0;
  background-color: #1F1F1F;
}
@media (min-width: 576px) {
  .footer {
    margin-top: 80px;
    padding: 20px 0;
  }
}
@media (min-width: 1024px) {
  .footer {
    margin-top: 90px;
  }
}
@media (min-width: 1440px) {
  .footer {
    margin-top: 100px;
  }
}
.footer__logo {
  width: 100px;
}
@media (min-width: 576px) {
  .footer__logo {
    width: 140px;
  }
}
@media (min-width: 1024px) {
  .footer__logo {
    width: 180px;
  }
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fade, .fade.animate-open {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.graph-modal {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
@media (min-width: 1024px) {
  .graph-modal {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .graph-modal .form {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 40px;
  }
}
.graph-modal__container {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  margin: 0;
  padding: 20px 10px;
  border-radius: 10px;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  opacity: 1 !important;
}
@media (min-width: 1024px) {
  .graph-modal__container {
    max-width: 618px;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .graph-modal__container {
    max-width: 700px;
  }
}
.graph-modal__container.graph-modal-open {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}
.graph-modal__container input {
  background-color: #F7F9FC;
}
.graph-modal__container .form__policy {
  color: rgba(31, 31, 31, 0.6);
}
.graph-modal__container .form__policy a {
  color: rgba(31, 31, 31, 0.6);
}
@media (min-width: 1024px) {
  .graph-modal__container .form__policy {
    max-width: 400px;
  }
}
.graph-modal .btn-reset {
  display: none;
}
@media (min-width: 1024px) {
  .graph-modal .btn-reset {
    display: block;
    width: 40px;
    height: 40px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    top: 20px;
  }
}

@-webkit-keyframes sliding {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@keyframes sliding {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}