<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/local/templates/new_plastilin/img/ico/icon_180.png">
  <!-- <link rel="icon" type="image/png" sizes="192x192" href="/local/templates/new_plastilin/img/ico/icon-192.png"> -->
  <link rel="icon" type="image/png" sizes="32x32" href="/local/templates/new_plastilin/img/ico/icon_32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/local/templates/new_plastilin/img/ico/icon_16.png">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>Демо Версия б24</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  
 
</head>
